@charset "utf-8";

$base-color: #555;
$error-color: brown;
$primary-color: pink;
$white-color: #fff;

.edit-list {
  margin: 0 auto;
  &-form {
    color: $base-color;
  }
  &-title {
    width: 300px;
    margin-bottom: 25px;
  }
}

.delete-list-button {
  color: $error-color;
  border: solid 1px $error-color;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: $primary-color;
  color: $white-color;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: $error-color;
}

@media (max-width: 768px) {
  .edit-list {
    width: 90%;
    max-width: 768px;
  }
}

@media (max-width: 320px) {
  .edit-list {
    width: 90%;
    max-width: 320px;
    &-title {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
