@charset "utf-8";

$header-bg-color: pink;
$header-text-color: brown;

.header {
  width: 100%;
  height: 80px;
  background-color: $header-bg-color;
  color: $header-text-color;
  display: flex;
  justify-content: space-between;

  .sign-out-button {
    color: $header-text-color;
    margin: auto 25px auto auto;
  }
}
